.card{
    margin: 20px;
    
}
#conteudoCarrinho{
    display: flex;
    align-items: center;
    align-content: center;
}
#colunasCarrinho{
    margin: 20px;
}
#pedidoFinal{
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 50px;
}
.hoverA:hover{
    font-size: x-large;
  }
