
/*FONTE*/
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*FONTE*/

:root{
    --amarelo:#ffc72c;
    --grafite:#343440;
    --cinza:#c9c8c8;
    --cinzaEscuro:#595959;
    --cinzaGradiente:#ffffff7f;

}

#pagina{
    width: 100%;
    display: flex;
    flex-direction: column ;
    align-items: center;
    font-family: 'Archivo', sans-serif;
}
header, footer{
    width: 100%;
    height: 60px;
    background-color:var(--grafite);
    display: flex;
    justify-content: space-around;
    font-family: 'Archivo', sans-serif;
}

body{
    background-color: #ffc72c;
}
main{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--amarelo);

}

footer{
    align-items: center;
    font-size: 15px;
    color:white;
}
#logo{
    height: 100%;
}
#logo img{
    height: 90%;
    width: 100%;
    border-radius: 55px;
    margin: 2px;
}
nav, ul{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none; 
}
a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif; 
    color:var(--amarelo);
}   


/*RESPONSIVIDADE MOBILE*/
#menuMobile{
    display: none;
}

@media print {
    main{
        color:rgb(255, 0, 0);
    }
    
}

@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 1600px){
    #gridImagem{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;

    }
    #imagemSobreNos, #texto{
        width: 90% !important;
        
    }
}


#opcoesMobile{
    width: 100%;
    padding: 20px 0px;
    background-color: black;
    display: none;
    flex-direction: column;
  
}

#opcoesMobile ul{
    width: 80%;
    flex-direction: column;
}

#opcoesMobile ul li{
    width: 100%;
    height: 30px;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

#opcoesMobile ul li :hover{
    background-color:var(--amarelo);
    border-radius: 15px;
    transition: 0,5s;
    color: black;
}

/*FIM RESPONSIVIDADE MOBILE*/

h2{
    color:var(--cinzaEscuro);
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
  
button:active{
    background-color:var(--cinza);
    color: red;
}

/* button:hover{
    width: 250px;
    height: 50px;
    background-color:black;
    font-weight: bold;
    transition: 0,5s;
} */


#imagemSobreNos, #texto{
    width: 50%;
}