#pagina{
    background-color:#519D39;
}
#pagina{
    width: 100%;
    display: flex;
    flex-direction: column ;
    align-items: center;
    font-family: 'Open Sans', sans-serif  
}
header, footer{
    width: 100%;
    height: 60px;
    background-color:#519D39;
    display: flex;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
}
#logo{
    background-color: #519D39;
}

#home{
    width: 80%;
    border-color: white;
    
}

#opcao{
    width: 80%;
}
.botao, .clique{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 90%;
    height: 70px;
    margin: 80px auto;
    border-radius: 10px;
    border-style: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:rgb(105, 105, 105);
    
}
button{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(195,195,195,1) 100%);
}
.botao:hover{
    width: 95%;
    height: 70px;
    transition: 0,5s;
}