* {
  padding: 0%;
  margin: 0%;
}
#pagina {
  background-color: #ffc72c;
}
#pagina {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
header,
footer {
  width: 100%;
  height: 70px;
  background-color: #343440;
  display: flex;
  font-family: "Open Sans", sans-serif !important;
  color: #ffc72c !important;
}
header a {
  color: #ffc72c !important;
}

#home {
  width: 100%;
  display: flex;
  padding: 0%;
  margin: 0%;
}

.selecionar {
  width: 100px;
  margin-top: 20px;
}
.selecionar:hover {
  width: 120px;
  margin: 10px;
  background-color: var(--cinzaEscuro);
}

/* .container-fluid{
    display: flex;
    justify-content: space-between;
} */

/* .carousel-inner{
    display: flex;
    background-position:center !important;
    background-repeat: no-repeat;
    background-size: cover;
} */

#texto {
  background-color: var(--cinzaGradiente);
  padding: 40px;
  font-family: "Open Sans", sans-serif;
  word-spacing: 5px;
  margin: 20px;
}
p {
  margin: 10px;
  font-size: 20px;
}
main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 20px;
}
#opcao {
  width: 80%;
}
