
h3{
    color:#595959;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

#redefinirSenha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

input{
    justify-content: center;
    align-items: center;
    margin: 15px;
}