* {
  padding: 0%;
  margin: 0%;
}

#redefinirSenha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.novaSenha {
  margin: 15px;
  padding: 20px;
}
#tituloRedefinirSenha {
  margin: 40px;
}
#redefinirSenha {
  margin: 20px;
}
